#tableList, #output {
	font-size: 1.25em;
}

#tableList > * {
	border: solid 1px gray;
	margin: 0.5em;
	padding: 1em;
	display: inline-block;
	border-radius: 0.5em;
}

#tableList .link, #tableEdit .link, #propertyEdit .link {
	display: inline-block;
	margin-left: 1em;
	padding: 0 0.3em;
	border: solid 1px gray;
	cursor: pointer;
	border-radius: 0.25em;
	font-size: 1.25em;
}

#displayRoot.display #tableList .table, #tableList .link, #tableEdit_properties .link, #propertyEdit_options .link, #propertyEdit_options .optionValues {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#displayRoot.display .link, #displayRoot.display #addTable {
	display: none;
}

#displayRoot.display #tableList .table {
	cursor: pointer;
}

#addTable {
	margin-right: 1em;
}

#output {
	white-space: pre;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#tableEdit, #propertyEdit {
	padding: 1em;
}

#tableEdit > :not(a), #propertyEdit > :not(a) {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}

#tableEdit > a:not(:first-of-type), #propertyEdit > a:not(:first-of-type) {
	margin-left: 1em;
}

#tableEdit_properties, #propertyEdit_options {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tableEdit_properties > li:not(:first-child), #propertyEdit_options > li:not(:first-child) {
	border-top: solid 1px gray;
	padding-top: 0.25em;
	margin-top: 0.25em;
}

#tableEdit_properties input.text, #propertyEdit_options input.text {
	width: 300px;
	height: 1.75em;
	position: relative;
	top: -0.35em;
}

#tableEdit .empty input {
	border-color: red;
}

#propertyEdit .empty input {
	border-color: orange;
}

#toggleMode::after {
	content: "switch to display mode";
}

#displayRoot.display #toggleMode::after {
	content: "switch to edit mode";
}

#propertyEdit_options .optionValues {
	margin-left: 1em;
}

#propertyEdit_options .optionValues input {
	display: none;
}

#propertyEdit_options .optionValues label {
	padding: .3em .6em;
	font-weight: bold;
	background-color: white;
	border: solid 1px gray;
	color: #2e6e9e;
	cursor: pointer;
	position: relative;
	top: -0.2em;
}

#propertyEdit_options .optionValues label:first-of-type {
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

#propertyEdit_options .optionValues label:last-of-type {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
#propertyEdit_options .optionValues label:not(:first-of-type) {
	border-left-width: 0;
}
#propertyEdit_options .optionValues input:checked + label {
	color: #e17009;
}