#tableList, #output {
	font-size: 1.25em;
}

#tableList > * {
	border: solid 1px gray;
	margin: 0.5em;
	padding: 1em;
	display: inline-block;
	border-radius: 0.5em;
}

#tableList .link, #tableEdit .link, #propertyEdit .link {
	display: inline-block;
	margin-left: 1em;
	padding: 0 0.3em;
	border: solid 1px gray;
	cursor: pointer;
	border-radius: 0.25em;
	font-size: 1.25em;
}

#tableList .link {
	margin-left: 0.5em;
}

#displayRoot.display #tableList .table, #tableList .link, #tableEdit_properties .link, #propertyEdit_options .link, #propertyEdit_options .optionValues {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#displayRoot.display .link, #displayRoot.display #addTable, #displayRoot.display #saveTables, #displayRoot.display #closeTables {
	display: none;
}

#displayRoot.display #tableList .table {
	cursor: pointer;
}

#addTable, #saveTables, #closeTables {
	margin-right: 1em;
}

#output {
	white-space: pre;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#tableEdit, #propertyEdit {
	padding: 1em;
}

#tableEdit > :not(a), #propertyEdit > :not(a) {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}

#tableEdit > p {
	margin-top: 0em;
	margin-bottom: 1em;
}

#tableEdit > a:not(:first-of-type), #propertyEdit > a:not(:first-of-type) {
	margin-left: 1em;
}

#tableEdit_properties, #propertyEdit_options {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tableEdit_properties > li:not(:first-child), #propertyEdit_options > li:not(:first-child) {
	border-top: solid 1px gray;
	padding-top: 0.25em;
	margin-top: 0.25em;
}

#tableEdit_properties input.text, #propertyEdit_options input.text {
	width: 300px;
	height: 1.7em;
	position: relative;
	top: -0.35em;
}

#tableEdit .empty input {
	border: solid 1px red;
}

#toggleMode::after {
	content: "switch to display mode";
}

#displayRoot.display #toggleMode::after {
	content: "switch to edit mode";
}

#propertyEdit_options .optionValues {
	margin-left: 1em;
}

#propertyEdit_options .optionValues input[type="radio"] {
	display: none;
}

#propertyEdit_options .optionValues label, #propertyEdit_options .optionValues input.number {
	display: inline-block;
	padding: .3em .6em 0 .6em;
	height: 1.5em;
	font-weight: bold;
	background-color: white;
	border: solid 1px gray;
	color: #2e6e9e;
	cursor: pointer;
	position: relative;
	top: -0.2em;
	font-size: 1em;
	vertical-align: middle;
}

#propertyEdit_options .optionValues label:first-of-type {
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

#propertyEdit_options .optionValues input.number {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0.4em;
	width: 3.5em;
	height: 1.1em;
	line-height: 1.1em;
	text-align: center;
}

#propertyEdit_options .optionValues label:not(:first-of-type), #propertyEdit_options .optionValues input.number {
	border-left-width: 0;
}

#propertyEdit_options .optionValues input:checked + label, #propertyEdit_options .optionValues input.number, #propertyEdit_options li.table .link.edit {
	color: #e17009;
}

#dataUrl {
	width: 400px;
}

#saveScreen_text {
	width: 100%;
	min-height: 40em;
}