#tableList {
	font-size: 1.25em;
}

#tableList > * {
	border: solid 1px gray;
	margin: 0.5em;
	padding: 1em;
	display: inline-block;
	border-radius: 0.5em;
}

#tableList .link, #tableEdit .link, #propertyEdit .link {
	display: inline-block;
	margin-left: 1em;
	padding: 0 0.3em;
	border: solid 1px gray;
	cursor: pointer;
	border-radius: 0.25em;
	font-size: 1.25em;
}

#output {
	white-space: pre;
}

#tableEdit, #propertyEdit {
	position: fixed;
	background-color: white;
	border: solid 1px gray;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0 auto;
	min-width: 400px;
	max-width: 100%;
	top: 2em; left: 2em; right: 2em; bottom: 2em;
	overflow: scroll;
}

#tableEdit > :not(a), #propertyEdit > :not(a) {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}

#tableEdit > a:not(:first-of-type), #propertyEdit > a:not(:first-of-type) {
	margin-left: 1em;
}

#tableEdit_properties, #propertyEdit_options {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tableEdit_properties > li:not(:first-child), #propertyEdit_options > li:not(:first-child) {
	border-top: solid 1px gray;
	padding-top: 0.25em;
	margin-top: 0.25em;
}

#tableEdit .empty input {
	border-color: red;
}

#propertyEdit .empty input {
	border-color: orange;
}